.form {
  background-color: yellowgreen;
  width: 290px;
  margin: 0 auto;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  list-style: none;
}

.btn {
  padding: 5px 5px;
  border: 2px solid yellow;
  border-radius: 5px;
  background-color: rgb(37, 89, 202);
  color: white;
}

.btn:hover {
  background-color: red;
}
.formItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
